@import "../../styles/media.less";
@import "../../styles/variables.less";

@-moz-document url-prefix() {
  .Winners {
    @media @desktop {
    }
  }
}

.Winners {
  width: 95.5%;
  margin: auto;
  margin-top: auto;
  margin-top: 1vw;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 90%;
  max-height: 100vw;
  z-index: 99999;
  overflow: scroll;
  padding-bottom: 1.5vw;

  background: #1e7d14;
  border: 10px solid #f0dac0;
  box-shadow: 0px 0px 10px #0f390a;
  border-radius: 91px;

  font-family: "Roboto";

  .bcgImage("../assets/winners_decor.png");
  background-position: 4.3vw 2.2vw;
  background-size: 87vw;
  @media @desktop {
  }

  h1 {
    text-align: center;
    margin-top: 2.5%;
    padding-bottom: 2.5%;
    color: @main_color1;
    font-size: 6vw;
    font-weight: normal;
    padding: 0 8vw;

    @media @desktop {
      font-size: 96px;
      font-family: "Lobster";
      padding: 0 8vw;
    }
  }

  &__filterBlock {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-bottom: 3.2vw;
    margin-top: 6.3vw;
    height: 4.3vw;
    input {
      padding-left: 0.5vw;
      text-align: center;
      width: inherit;
      border-radius: 31px;
      border: none;
      text-align: left;
      padding-left: 8vw;
      font-size: 1.65vw;
      height: inherit;
    }
    @media @desktop {
    }
  }

  &__SelectTournament {
    @media @desktop {
    }
  }

  &__winners {
    text-align: center;
    width: 90%;
    margin: auto;
    font-size: 4vw;
    background-color: #fff;
    border-radius: 25px;
    @media @desktop {
      font-size: 20px;
    }
    thead {
      font-weight: 600;
      text-transform: uppercase;
      pointer-events: none;
    }
    tr {
      padding-bottom: 1vw;
      border-bottom: 1px solid lightgray;
      border-radius: 100px;
      transition: 0s !important;
      &:hover {
        font-weight: bold;
      }
    }
    td {
      transition: 0s !important;
      padding: 1vw 0;
      width: 33%;
      cursor: default;
    }

    tbody {
      tr:last-child {
        border: none;
      }
    }
  }
  .VuePagination {
    text-align: center;
    margin-bottom: 3.5vw;
    &__count {
      display: none;
    }

    .page-link {
      cursor: pointer;
    }

    &__pagination-item-prev-chunk,
    &__pagination-item-next-chunk {
      display: none;
    }
  }

  .Winners__SelectTournament.vs--open {
    min-width: 12.65vw;
  }

  // input {
  //   color: #000;
  //   width: 100%;
  //   height: 6vw;
  //   font-size: 4vw;
  //   @media @desktop {
  //     font-size: 20px;
  //     // width: auto;
  //     // height: auto;
  //   }
  // }

  &__closeBtn {
    // position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-bottom: auto;
    display: block;
    // margin-bottom: 4vw;
    border-radius: 100px;
    padding: 1.6vw 2.4vw;
    font-size: 3vw;
    background: green;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid #fff;
    cursor: pointer;
    position: relative;
    bottom: 1%;
    &:hover {
      background-color: @main_color2;
      color: @main_color1;
    }
    @media @desktop {
      padding: 0.8vw 1vw;
      font-size: 1vw;
      bottom: 4%;
    }
  }
}
.VuePagination__pagination.pagination.VuePagination__pagination {
  width: 40vw;
  display: flex;
  margin: auto;
  justify-content: space-around;
  margin-top: 2.5vw;
  @media @desktop {
    width: 12vw;
  }

  li {
    background: #fff;
    box-sizing: border-box;
    border: 1px solid @main_color2;
    padding: 0.2vw 0.8vw;

    @media @desktop {
      padding: 0.2vw 0.4vw;
      margin: 0 0.1vw;
    }
    &.active {
      background-color: @main_color1;
      color: #fff;
    }
  }
}

.VuePagination__pagination-item .page-item a {
}
#app > div.Registration > div.Winners > div.VuePagination > nav > ul > li a {
  color: #000 !important;
  margin: 0 2vw;
  padding: 1vw 2.5vw;
  font-size: 4vw;
  @media @desktop {
    font-size: 14px;
    margin: auto;
    padding: 16px 20px;
  }

  &__list {
    width: 90%;
    margin: auto;
    li {
      background: #fff;
      display: flex;
    }
  }
}
